@model IEnumerable<GS247.Models.Library.ViewBooks>

@{
    ViewBag.Title = "ManageBooks";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<style>
    .a_tag-btn {
        background: #50d8af;
    }

    .grid-view table.items th {
        color: #0c2e8a;
    }
</style>
<div class="cont_right formWrapper" style="padding:15px 20px 80px 20px;">
    <h1>Manage Books</h1>

    <div class="button-bg">
        <div class="top-hed-btn-left"> </div>
        <div class="top-hed-btn-right">
            <ul>
                <li>
                    <a class="a_tag-btn
" href="@Url.Action("CreateBook","Library")"><span>Create Book</span></a>
                </li>
            </ul>
        </div>

    </div>
    <style>
        .sem-view-block th, td {
            border: none;
        }
    </style>

    <div id="book-grid" class="grid-view">
        <table class="items" id="myTable">
            <thead>
                <tr class="pdtab-h">
                    <td align="center">ISBN</td>
                    <td align="center">Book Name</td>
                    <td align="center">Author</td>
                    <td align="center">Edition</td>
                    <td align="center">Publisher</td>
                    <td align="center">Total Copies</td>
                    <td align="center">Copies Available</td>
                    <td align="center">Book Position</td>
                    <td align="center">Shelf No.</td>
                    <td align="center">Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="odd">
                    <td> @Html.DisplayFor(modelItem => item.ISBN)</td>
                    <td>  @Html.DisplayFor(modelItem => item.Title)</td>
                    <td> <a class="view" title="View" href="@Url.Action("AuthorDetails","Library")?id=@item.AuthorId">
                             <span style="color:orange;">@Html.DisplayFor(modelItem => item.AuthorName)</span>
                        </a></td>
                    <td>@Html.DisplayFor(modelItem => item.Edition)</td>
                    <td>  @Html.DisplayFor(modelItem => item.Publisher)</td>
                    <td> @Html.DisplayFor(modelItem => item.CopiesAvailable)</td>
                    <td>@Html.DisplayFor(modelItem => item.BookPosition)</td>
                    <td>  @Html.DisplayFor(modelItem => item.ShelfNo)</td>
                    <td>  @Html.DisplayFor(modelItem => item.Copy)</td>
                   
                    <td>
                        <a class="update" title="Update" href="@Url.Action("EditBook","Library")?id=@item.Id">
                            <span style="color:orange;">Edit</span>
                        </a>|
                        <a class="delete" title="Delete" href="@Url.Action("DeleteBook","Library")?id=@item.Id" onclick="return confirm('Are you sure you want to delete this?')">
                            <span style="color:orange;">Remove</span>
                        </a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>


</div>


