@model GS247.Models.PaymentType
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_FeesLayout.cshtml";
}

<style>
    .container {
        width: 1000px;
        min-height: 800px;
        margin: 0px auto 20px auto;
        padding: 0px;
        background: #FFF url(../images/cont_left_bg.png) left repeat-y;
    }
</style>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td valign="top" width="247">
                                            <div class="cont_right formWrapper">
                                                @if (Model == null) {<h1>Create Payment Type</h1>}
                                                else
                                                { <h1>Update Payment Type</h1>}
                                                <div class="button-bg">
                                                    <div class="top-hed-btn-left">
                                                        <a class="a_tag-btn" href="@Url.Action("ManagePayment", "Fees")"><span>Back</span></a> 
                                                    </div>
                                                    <div class="top-hed-btn-right">
                                                        <ul>
                                                            <li><a class="a_tag-btn" href="@Url.Action("ManagePayment","Fees")"><span>Manage</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <style>
                                                    #status input {
                                                        float: left;
                                                    }

                                                    #status label {
                                                        float: left;
                                                    }
                                                </style>
                                                @if (Model != null)
                                                {
                                                    <div class="formCon">
                                                        <div class="formConInner">
                                                            <form id="fee-payment-types-form" action="UpdatePayment" method="post">

                                                                <input id="PaymentTypeID" type="hidden" value="@Model.PaymentTypeID" name="PaymentTypeID">
                                                                <p class="note">Fields with <span class="required">* </span>are required.</p>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><label for="FeePaymentTypes_type" class="required">Type <span class="required">*</span></label></td>
                                                                        <td><input size="60" maxlength="200" name="Type" id="Type" value="@Model.Type" type="text" required />		</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label for="FeePaymentTypes_is_active">Status</label></td>
                                                                        <td id="status">
                                                                            <select style="width:150px;" name="StatusFlag" id="StatusFlag">
                                                                                @if (@Model.StatusFlag == 1)
                                                                                {
                                                                                    <option value="1" selected="selected">Active</option>
                                                                                    <option value="2">Inactive</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="1">Active</option>
                                                                                    <option value="2" selected="selected">Inactive</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td><input class="formbut-n" type="submit" name="yt0" value="Update" /></td>
                                                                    </tr>
                                                                </table>

                                                            </form>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="formCon">
                                                        <div class="formConInner">
                                                            <form id="fee-payment-types-form" action="CreatePayment" method="post">

                                                                <p class="note">Fields with <span class="required">* </span>are required.</p>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><label for="FeePaymentTypes_type" class="required">Type <span class="required">*</span></label></td>
                                                                        <td><input size="60" maxlength="200" name="Type" id="Type" type="text" required />		</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label for="FeePaymentTypes_is_active">Status</label></td>
                                                                        <td id="status">
                                                                            <select style="width:150px;" name="StatusFlag" id="StatusFlag">
                                                                                <option value="1" selected="selected">Active</option>
                                                                                <option value="2">Inactive</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td><input class="formbut-n" type="submit" name="yt0" value="Create" /></td>
                                                                    </tr>
                                                                </table>

                                                            </form>
                                                        </div>
                                                    </div>
                                                }                                                                                     
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                         
