@{
    Layout = "~/Views/Shared/_ExaminationLayout.cshtml";
}

<div class="cont_right formWrapper">
    <h1>Create New Online Exam</h1>
    <div class="button-bg">
        <div class="top-hed-btn-left">
            <a class="a_tag-btn" href="@Url.Action("OnlineExams", "Examination")"><span>Back</span></a>
        </div>
        <div class="top-hed-btn-right">
        </div>
    </div>
    <div class="formCon">
        <div class="formConInner">
            <style>
                td {
                    padding-bottom: 10px !important;
                }

                .time-block .ui-datepicker-trigger {
                    line-height: normal;
                    position: absolute;
                    right: -1px;
                    top: 1px;
                    font-size: 23px;
                    color: #ccc;
                    background-color: #77798e;
                    box-shadow: none;
                    border: none;
                }
            </style>

            <h3>Fields with <span class="required">*</span> are required.</h3>
            <input type="hidden" name="ExamType" id="ExamType" value="1" />
            <form id="exam-form" action="CreateNewOnlineExams" method="post">
                <div class="qurdn-not qurdn-not2">
                    <div class="head">
                        <b><h2>Note :</h2></b>
                    </div>
                    <div class="not-bullet">
                        <ul>
                            <li>The start time and end time are to be defined as a range during which a student can attend the exam for the mentioned duration.</li>
                            <li>Duration is not the difference between start and end time but the total time a student can take to complete the exam within the given time range..</li>
                            <li>A student will only be able to attend an exam if he/she logs in within the given time range with full duration.</li>
                        </ul>
                    </div>
                </div>
                <div class="txtfld-col">
                    <label for="Name" class="required">Name <span class="required">*</span></label>
                    <input placeholder="Name" name="Name" id="Name" type="text" required />
                </div>
                <div class="txtfld-col">
                    <label for="CourseId">Course <span class="required">*</span></label>
                    <select name="CourseId" id="CourseId" onchange="onChangeCourse(this);">
                        <option value="">Select Course</option>
                        @foreach (var item1 in ViewBag.CoursesList)
                        {
                            <option value="@item1.Id">@item1.Name </option>
                        }
                    </select>
                </div>
                <div class="txtfld-col">
                    <label for="batchid" class="required">Batch <span class="required">*</span></label>
                    <select id="batchid" name="batchid" onchange="onChangeBatch(this);">
                        <option value="">Select Batch</option>
                        @foreach (var item1 in ViewBag.BatchList)
                        {
                            <option value="@item1.Id">@item1.Name </option>
                        }
                    </select>
                </div>
                <div class="txtfld-col">
                    <input size="60" maxlength="200" name="SubjectFlag" id="SubjectFlag" value="0" type="checkbox" onchange="onSubjectCheck(this);">&nbsp;&nbsp;
                    <label for="SubjectFlag">Subject Include</label>
                </div>
                <div class="txtfld-col" style="display:none" id="divSubject">
                    <label for="SubjectId" class="required">Subject <span class="required">*</span></label>
                    <select id="SubjectId" name="SubjectId">
                    </select>
                </div>

                <div class="txtfld-col">
                    <label for="StartTime" class="required">Start Time <span class="required">*</span></label>
                    <div class="time-block">
                        <input type="text" class="timepicker" id="StartTime" value="" name="StartTime" size="10" required readonly />
                    </div>

                </div>
                <div class="txtfld-col">
                    <label for="EndTime" class="required">End Time <span class="required">*</span></label>
                    <div class="time-block">
                        <input type="text" class="timepicker" id="EndTime" value="" name="EndTime" size="10" required readonly />
                    </div>
                </div>
                <div class="txtfld-col">
                    <label for="Duration" class="required">
                        Duration <span class="required">*</span>
                    </label>    <input placeholder="Duration in Minutes" name="Duration" id="Duration" type="text" required />
                </div>
                <div class="txtfld-col">
                    <label for="MultiChoiceLimitCount">Multi Choice Limit <span class="required">*</span></label>
                    <input placeholder="Choice Limit" name="MultiChoiceLimitCount" id="MultiChoiceLimitCount" type="text" value="4" readonly />
                </div>
                <div class="txtfld-col">
                    <label for="MarksType" class="required">Mark Type <span class="required">*</span></label>
                    <select id="MarksType" name="MarksType">
                        <option value="1">Marks</option>
                        <option value="2">Grades</option>
                        <option value="3">Marks & Grades</option>                        
                    </select>
                </div>
                <div class="txtfld-col">
                    <label for="TotalMarks">Total Marks <span class="required">*</span></label>
                    <input placeholder="Marks" name="TotalMarks" id="TotalMarks" type="text" required />
                </div>
                <div class="txtfld-col-btn">
                    <div class="txtfld-col-btn-block">
                        <input class="formbut-n" type="submit" id="submit_button_form" name="yt0" value="Add Questions" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="../CommonScripts/js/jquery-ui-1.7.3.css">
<link rel="stylesheet" href="../CommonScripts/js/timepicker.css">
<script src="../CommonScripts/js/jquery.js"></script>
<script src="../CommonScripts/js/jquery-ui.min.js"></script>
<script src="../CommonScripts/js/jquery.ui.timepicker.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#StartTime').datetimepicker({ 'dateFormat': 'd M yy', 'timeFormat': 'hh:mm:ss', 'showOn': 'button', 'showSecond': false, 'changeMonth': false, 'changeYear': false, 'value': '', 'tabularLevel': null });
        $('#EndTime').datetimepicker({ 'dateFormat': 'd M yy', 'timeFormat': 'hh:mm:ss', 'showOn': 'button', 'showSecond': false, 'changeMonth': false, 'changeYear': false, 'value': '', 'tabularLevel': null });
    });

    function onChangeCourse(ele) {

        if (ele.value != "") {
            var d = { Id: ele.value };
            $.ajax({
                type: "POST",
                url: "/Student/BatchListLoad",
                data: JSON.stringify(d),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index, BatchList) {
                        var Table = document.getElementById("batchid");
                        Table.innerHTML = "";
                        if (BatchList.length > 0) {
                            var value = "<option value=\"\">Select Batch</option>";

                            for (var i = 0; i < BatchList.length; i++) {
                                value += "<option value=\"" + BatchList[i].Id + "\">" + BatchList[i].Name + "</option>";
                            }

                            $("#batchid").append(value);
                        }

                    });
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        else {
            var Table = document.getElementById("batchid");
            Table.innerHTML = "";
        }
    };

    function onSubjectCheck(ele) {
        if (ele.checked == true)
        {
            $('#SubjectFlag').val('1');
            $('#divSubject').css('display', 'block');
            var d = { Id: $('#batchid').val() };
            $.ajax({
                type: "POST",
                url: "/Examination/SubjectListLoad",
                data: JSON.stringify(d),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index, BatchList) {
                        var Table = document.getElementById("SubjectId");
                        Table.innerHTML = "";
                        if (BatchList.length > 0) {
                            var value = "";
                            for (var i = 0; i < BatchList.length; i++) {
                                value += "<option value=\"" + BatchList[i].Id + "\">" + BatchList[i].Name + "</option>";
                            }
                            $("#SubjectId").append(value);
                        }
                    });
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        else {
            var Table = document.getElementById("SubjectId");
            Table.innerHTML = "";
            $('#SubjectFlag').val('0');
            $('#divSubject').css('display', 'none');
        }
    };

    function onChangeBatch(ele) {

        if ($('#SubjectFlag').val() == "1")
        {
            if (ele.value != "") {
                var d = { Id: $('#batchid').val() };
                $.ajax({
                    type: "POST",
                    url: "/Examination/SubjectListLoad",
                    data: JSON.stringify(d),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (index, BatchList) {
                            var Table = document.getElementById("SubjectId");
                            Table.innerHTML = "";
                            if (BatchList.length > 0) {
                                var value = "";
                                for (var i = 0; i < BatchList.length; i++) {
                                    value += "<option value=\"" + BatchList[i].Id + "\">" + BatchList[i].Name + "</option>";
                                }
                                $("#SubjectId").append(value);
                            }
                        });
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }
            else {
                var Table = document.getElementById("SubjectId");
                Table.innerHTML = "";
            }
        }
    };

    $('#submit_button_form').click(function (ev) {

        if ($('#CourseId').val() == null || $('#CourseId').val() == "") {
            $('#CourseId').css("border", "1px solid red");           
            return false;
        }

        if ($('#batchid').val() == null || $('#batchid').val() == "") {
            $('#batchid').css("border", "1px solid red");            
            return false;
        }

        if ($('#StartTime').val() == null || $('#StartTime').val() == "") {
            $('#StartTime').css("border", "1px solid red");           
            return false;
        }

        if ($('#EndTime').val() == null || $('#EndTime').val() == "") {
            $('#EndTime').css("border", "1px solid red");            
            return false;
        }

        var dt1 = $('#StartTime').val();
        var dt2 = $('#EndTime').val();

        if (dt1 != null && dt1 != "" && dt2 != null && dt2 != "")
        {
            var d1 = new Date(dt1);
            var d2 = new Date(dt2);    
            if (d1.getTime() >= d2.getTime())
            {
                $('#StartTime').css("border", "1px solid red");
                $('#EndTime').css("border", "1px solid red");
                return false;
            }
        }

        if ($('#SubjectFlag').val() == "1") {
            if ($('#SubjectId').val() == null || $('#SubjectId').val() == "") {
                $('#SubjectId').css("border", "1px solid red");
                return false;
            }
        }        
    });

</script>
