@model dynamic
@{
    Layout = "~/Views/Shared/_ExaminationLayout.cshtml";
}

<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 1;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        top: 250px;
        left: 775px;
        z-index: 100;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        margin-top: 0px;
        border: 1px solid #888;
        width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        background-color: #FDC93E !important;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .vtip:hover {
        background-color: #F60;
    }
</style>

<script>
    $(document).ready(function () {
        //Hide the second level menu
        $('#othleft-sidebar ul li ul').hide();
        //Show the second level menu if an item inside it active
        $('li.list_active').parent("ul").show();

        $('#othleft-sidebar').children('ul').children('li').children('a').click(function () {

            if ($(this).parent().children('ul').length > 0) {
                $(this).parent().children('ul').toggle();
            }
        });
    });
</script>

<div class="cont_right formWrapper">
    <h1>Set Default Grading Levels</h1>

    <div class="button-bg">
        <div class="top-hed-btn-left"> </div>
        <div class="top-hed-btn-right">
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div class="top-hed-btn-left"> </div>
    </div>

    <div class="clear"></div>
    <div class="emp_right_contner">
        <div class="emp_tabwrapper">

            <div class="clear"></div>
            <div class="emp_cntntbx" style="padding-top:0px;">
                <div>
                    <div>

                        <div class="button-bg">
                            <div class="top-hed-btn-left"> </div>
                            <div class="top-hed-btn-right">
                                <ul>
                                    <li>
                                        <a id="add_grading-levels" class="a_tag-btn" href="javascript:addGradeLevel();">Create Grading Levels</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="grid-view clear" id="grading-levels-grid">
                            <table class="items">
                                <thead>
                                    <tr>
                                        <th id="grading-levels-grid_c0"><a href="#">Name</a></th>
                                        <th id="grading-levels-grid_c1"><a href="#">Min Score</a></th>
                                        <th style="color:#FF6600" id="grading-levels-grid_c2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.GradeList)
                                    {
                                        <tr class="odd">
                                            <td>@item.Name</td>
                                            <td>@item.Score</td>
                                            <td class="button-column">
                                                <div class="tt-wrapper-new">
                                                    <a class="makeedit" title="Update" href="javascript:updateGradeLevel(@item.ExamGradeLevelId,'@item.Name',@item.Score);"><img src="/gridview/update.png" alt="Update"><span>Edit</span></a>
                                                    <a class="makedelete" title="Delete" href="javascript:deleteGradeLevel(@item.ExamGradeLevelId);"><img src="/gridview/delete.png" alt="Delete"><span>Delete</span></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- END div class="emp_cntntbx" -->
        </div> <!-- END div class="emp_tabwrapper" -->
    </div> <!-- END div class="emp_right_contner" -->
</div>

<input type="hidden" name="ExamGradeLevelId" id="ExamGradeLevelId" />
<br /><br /><br />

<div class="formConInner">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="border-color:black;border:solid;">
            <div class="modal-header">
                <span class="close" id="close1" onclick="onClose();">&times;</span>
                <h5>
                    <span id="Span_id" style="color: black">Create New Grading Level</span>
                </h5>
            </div>
            <div class="modal-body">
                <div class="popup-input">
                    <p class="note">Fields with <span class="required">*</span> are required.</p>
                    <div>
                        <div>
                            <label style="color:#444444;" for="Name" class="required">Name  <span class="required">*</span></label>
                            <br />
                            <input name="Name" id="Name" type="text" required>
                        </div>
                        <br />
                        <div>
                            <label style="color:#444444;" for="Score" class="required">Min Score <span class="required">*</span></label>
                            <br />
                            <input name="Score" id="Score" type="text" required>
                        </div>
                        <div class="popup_btn">
                            <input id="closeJobDialog" name="Submit" class="formbut-n" type="submit" value="Submit" onclick="saveGradeLevel();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function addGradeLevel() {
        $('#Name').val('');
        $('#Score').val('');
        $('#ExamGradeLevelId').val(0);
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    };

    function updateGradeLevel(ExamGradeLevelId, Name, Score) {
        $('#Name').val(Name);
        $('#Score').val(Score);
        $('#ExamGradeLevelId').val(ExamGradeLevelId);
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    };

    function saveGradeLevel() {

        if ($('#Name').val() == null || $('#Name').val() == "") {
            $('#Name').css("border", "1px solid red");
            return false;
        }
        if ($('#Score').val() == null || $('#Score').val() == "") {
            $('#Score').css("border", "1px solid red");
            return false;
        }

        var GradeLevel = new Object();
        GradeLevel.Name = $('#Name').val();
        GradeLevel.Score = $('#Score').val();
        GradeLevel.ExamGradeLevelId = $('#ExamGradeLevelId').val();
        GradeLevel.CreatedBy = "System";
        GradeLevel.CreatedDate = new Date();

        var d = { examGradeLevel: GradeLevel };

        $.ajax({
            type: "POST",
            url: "/Examination/SaveGradeLevel",
            data: JSON.stringify(d),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload(true);
            }
        });
    };

    function onClose() {
        $("#myModal").css('display', 'none');
    };

    function deleteGradeLevel(ExamGradeLevelId) {
        if (confirm("Are you sure you want to delete this grading level?")) {
            $.ajax({
                type: "POST",
                url: "/Examination/DeleteGradeLevel",
                data: '{ExamGradeLevelId: ' + ExamGradeLevelId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    location.reload(true);
                }
            });
        }
    }

</script>