@model IEnumerable<GS247.Models.FileUpload>

@{
    ViewBag.Title = "Manage File Upload";
    Layout = "~/Views/Shared/_DownloadLayout.cshtml";
}
<style>
    .a_tag-btn {
        background: #50d8af;
    }

    .grid-view table.items th {
        color: #0c2e8a;
    }
    #myTable > thead > tr > th, #myTable > tbody > tr > td {
        text-align: center;
    }
</style>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 2; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function Search(tmp, inc) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(tmp);
        if (input.value == '') {
            loadPage($lastPage);
            return;
        }
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 2; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[inc];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<div>
    <h1>@ViewBag.Title</h1>

    <div class="button-bg">
        <div class="top-hed-btn-left"> </div>
        <div class="top-hed-btn-right">
            <ul>
                <li>
                    <a class="a_tag-btn
" href="@Url.Action("UploadFile","Download")"><span>New Upload</span></a>
                </li>
            </ul>
        </div>

    </div>
    <style>
        .sem-view-block th, td {
            border: none;
        }
    </style>

    <div id="semester-grid" class="grid-view">
        <table class="items" id="myTable">
            <thead>
                <tr>
                    <th id="semester-grid_c0" onclick="sortTable(0);">Title</th>
                    <th id="semester-grid_c1" onclick="sortTable(1);">Category</th>
                    <th id="semester-grid_c2" onclick="sortTable(2);">Place Holder</th>
                    <th id="semester-grid_c3" onclick="sortTable(3);" style="width:inherit;">Course</th>
                    <th id="semester-grid_c4" onclick="sortTable(4);" style="width:inherit;">Batch</th>
                    <th class="button-column" id="semester-grid_c3" style="width:inherit;">Action</th>
                </tr>
                <tr class="filters">
                    <td><input class="form-control" id="myInputTitle" onkeyup="Search(this.id,0);" name="Semester[Title]" type="text" maxlength="225" value="" placeholder="Search"/></td>
                    <td><input class="form-control" id="myInputCatgory" onkeyup="Search(this.id,1);" name="Semester[Category]" type="text" maxlength="225" value="" placeholder="Search"/></td>
                    <td><input class="form-control" id="myInputPlaceholder" onkeyup="Search(this.id,2);" name="Semester[Placeholder]" type="text" maxlength="225" value="" placeholder="Search"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd">
                        <td><a href="#" data-toggle="modal" data-target=#@item.Id>@Html.DisplayFor(Model => item.Title)</a></td>
                        <td>@Html.DisplayFor(m => item.CategoryName)</td>
                        <td>@Html.DisplayFor(m => item.Placeholder)</td>
                        <td>@Html.DisplayFor(m => item.Course)</td>
                        <td>@Html.DisplayFor(m => item.Batch)</td>
                        <td>
                            
                            <div class="modal fade" id=@item.Id tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Details of File</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>File Name</th>
                                                    <th>File Type</th>
                                                    <th>Uploaded On</th>
                                                    <th>Uploaded By</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr>
                                                    <td>@item.FilePath</td>
                                                    <td>@item.FileType</td>
                                                    <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.UploadedOn))</td>
                                                    <td>@item.UploadedBy</td>

                                                    <td>@Html.ActionLink("Download", "DownloadFile", new { id = item.Id }, new { @class = "fa fa-download" })</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <a class="update" title="Update" href="@Url.Action("Update_FileUplad","Download")?id=@item.Id">
                                <img src="../gridview/update.png" alt="Update" />
                            </a>
                            <a class="delete" title="Delete" href="@Url.Action("Delete_FileUpload","Download")?id=@item.Id" onclick="return confirm('Are you sure you want to delete this item?')">
                                <img src="../gridview/delete.png" alt="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    @if (TempData["FileUpload_Index"] != null)
    {
        <script type="text/javascript">
            alert("@TempData.Peek("FileUpload_Index").ToString()");
        </script>
    }
</div>
