@model GS247.Models.StudentFieldSetting
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="cont_right formWrapper">
    <h1>Update Form Field</h1>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>

            <td valign="top">
                <div class="formWrapper">
                    <div class="button-bg">
                        <div class="top-hed-btn-left">

                        </div>
                        <div class="top-hed-btn-right">
                            <ul>
                                <li> <a id="add_student-categories" class="a_tag-btn" href="@Url.Action("ManageStudentFields", "Student")"><span>Settings</span></a>
                            </ul>
                        </div>
                    </div>

                    <div class="formCon">
                        <div class="formConInner">
                            @if (Model != null)
                                                            {
                                                            <form id="fee-taxes-form" action="UpdateStudentFields" method="post">
                                                                <input type="hidden" value="@Model.StudentFieldSettingID" name="StudentFieldSettingID" id="StudentFieldSettingID" />
                                                                <p class="note">Fields with <span class="required"> * </span>are required.</p>

                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td>
                                                                            <label for="Title" class="required">Title<span class="required">*</span></label><br />
                                                                            <input size="30" maxlength="200" name="Title" id="Title" type="text" value="@Model.Title" required />
                                                                        </td>
                                                                        <td>
                                                                            <label for="Required" class="required">Required<span class="required">*</span></label><br />
                                                                            <select style="width:210px;" name="Required" id="Required">
                                                                                <option value="0" @(Convert.ToInt32(@Model.Required) == 0 ? "selected ='selected'" : string.Empty)>No</option>
                                                                                <option value="1" @(Convert.ToInt32(@Model.Required) == 1 ? "selected ='selected'" : string.Empty)>Yes</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <label for="FieldTypeFlag" class="required">Field Type<span class="required">*</span></label><br />
                                                                            <select style="width:210px;" name="FieldTypeFlag" id="FieldTypeFlag">
                                                                                <option value="1" @(Convert.ToInt32(@Model.FieldTypeFlag) == 1 ? "selected ='selected'" : string.Empty)>Text</option>
                                                                                <option value="2" @(Convert.ToInt32(@Model.FieldTypeFlag) == 2 ? "selected ='selected'" : string.Empty)>Date</option>
                                                                                <option value="3" @(Convert.ToInt32(@Model.FieldTypeFlag) == 3 ? "selected ='selected'" : string.Empty)>Decimal</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3"> <h3>Select Visible Areas</h3></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <ul>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="CheckAllFlag" id="CheckAllFlag" value="@Model.CheckAllFlag" @(Convert.ToBoolean(@Model.CheckAllFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="CheckAllFlag">Check All</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="AdminStudentRegistrationFormFlag" id="AdminStudentRegistrationFormFlag" value="@Model.AdminStudentRegistrationFormFlag" @(Convert.ToBoolean(@Model.AdminStudentRegistrationFormFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="AdminStudentRegistrationFormFlag">Admin Student Registration Form</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="OnlineAdmissionFormFlag" id="OnlineAdmissionFormFlag" value="@Model.OnlineAdmissionFormFlag" @(Convert.ToBoolean(@Model.OnlineAdmissionFormFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="OnlineAdmissionFormFlag">Online Admission Form</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="ParentPortalFlag" id="ParentPortalFlag" value="@Model.ParentPortalFlag" @(Convert.ToBoolean(@Model.ParentPortalFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="ParentPortalFlag">Parent Portal</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="StudentProfileFlag" id="StudentProfileFlag" value="@Model.StudentProfileFlag" @(Convert.ToBoolean(@Model.StudentProfileFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="StudentProfileFlag">Student Profile</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="StudentProfilePDFFlag" id="StudentProfilePDFFlag" value="@Model.StudentProfilePDFFlag" @(Convert.ToBoolean(@Model.StudentProfilePDFFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="StudentProfilePDFFlag">Student Profile PDF</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="StudentPortalFlag" id="StudentPortalFlag" value="@Model.StudentProfileFlag" @(Convert.ToBoolean(@Model.StudentPortalFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="StudentPortalFlag">Student Portal</label>
                                                                                </li>
                                                                                <li style="list-style-type:none">
                                                                                    <input size="60" maxlength="200" name="TeacherPortalFlag" id="TeacherPortalFlag" value="@Model.TeacherPortalFlag" @(Convert.ToBoolean(@Model.TeacherPortalFlag) == true ? "checked='checked'" : string.Empty) type="checkbox">&nbsp;&nbsp;
                                                                                    <label for="TeacherPortalFlag">Teacher Portal</label>
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            <label for="TabSelection" class="required">Tab Selection<span class="required">*</span></label><br />

                                                                            <select style="width:210px;" name="TabSelection" id="TabSelection">
                                                                                <option value="0" @(Convert.ToInt32(@Model.TabSelection) == 0 ? "selected ='selected'" : string.Empty)>No</option>
                                                                                <option value="1" @(Convert.ToInt32(@Model.TabSelection) == 1 ? "selected ='selected'" : string.Empty)>Yes</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <label for="TabSubSelection" class="required">Tab Sub Selection<span class="required">*</span></label><br />
                                                                            <select style="width:210px;" name="TabSubSelection" id="TabSubSelection">
                                                                                <option value="0" @(Convert.ToInt32(@Model.TabSubSelection) == 0 ? "selected ='selected'" : string.Empty)>No</option>
                                                                                <option value="1" @(Convert.ToInt32(@Model.TabSubSelection) == 0 ? "selected ='selected'" : string.Empty)>Yes</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3"><input class="formbut" type="submit" name="yt0" value="Save" style="height:30px" /></td>
                                                                    </tr>
                                                                </table>

                                                            </form>
                                                            }
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>

<script type="text/javascript">

                                    $(':checkbox#CheckAllFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#CheckAllFlag').attr('value', '1');
                                            $(':checkbox#AdminStudentRegistrationFormFlag').attr('value', '1');
                                            $(':checkbox#OnlineAdmissionFormFlag').attr('value', '1');
                                            $(':checkbox#ParentPortalFlag').attr('value', '1');
                                            $(':checkbox#StudentProfileFlag').attr('value', '1');
                                            $(':checkbox#StudentProfilePDFFlag').attr('value', '1');
                                            $(':checkbox#StudentPortalFlag').attr('value', '1');
                                            $(':checkbox#TeacherPortalFlag').attr('value', '1');
                                            $(':checkbox#AdminStudentRegistrationFormFlag').attr('checked', 'true');
                                            $(':checkbox#OnlineAdmissionFormFlag').attr('checked', 'true');
                                            $(':checkbox#ParentPortalFlag').attr('checked', 'true');
                                            $(':checkbox#StudentProfileFlag').attr('checked', 'true');
                                            $(':checkbox#StudentProfilePDFFlag').attr('checked', 'true');
                                            $(':checkbox#StudentPortalFlag').attr('checked', 'true');
                                            $(':checkbox#TeacherPortalFlag').attr('checked', 'true');
                                        }
                                        else {
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#AdminStudentRegistrationFormFlag').attr('value', '0');
                                            $(':checkbox#OnlineAdmissionFormFlag').attr('value', '0');
                                            $(':checkbox#ParentPortalFlag').attr('value', '0');
                                            $(':checkbox#StudentProfileFlag').attr('value', '0');
                                            $(':checkbox#StudentProfilePDFFlag').attr('value', '0');
                                            $(':checkbox#StudentPortalFlag').attr('value', '0');
                                            $(':checkbox#TeacherPortalFlag').attr('value', '0');
                                            $(':checkbox#AdminStudentRegistrationFormFlag').removeAttr('checked');
                                            $(':checkbox#OnlineAdmissionFormFlag').removeAttr('checked');
                                            $(':checkbox#ParentPortalFlag').removeAttr('checked');
                                            $(':checkbox#StudentProfileFlag').removeAttr('checked');
                                            $(':checkbox#StudentProfilePDFFlag').removeAttr('checked');
                                            $(':checkbox#StudentPortalFlag').removeAttr('checked');
                                            $(':checkbox#TeacherPortalFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#AdminStudentRegistrationFormFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#AdminStudentRegistrationFormFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#AdminStudentRegistrationFormFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#OnlineAdmissionFormFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#OnlineAdmissionFormFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#OnlineAdmissionFormFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#ParentPortalFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#ParentPortalFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#ParentPortalFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#StudentProfileFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#StudentProfileFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#StudentProfileFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#StudentProfilePDFFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#StudentProfilePDFFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#StudentProfilePDFFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#StudentPortalFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#StudentPortalFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#StudentPortalFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });

                                    $(':checkbox#TeacherPortalFlag').change(function (e) {
                                        if ($(this).is(':checked')) {
                                            $(':checkbox#TeacherPortalFlag').attr('value', '1');
                                            allcheckBoxCheckValidate();
                                        }
                                        else {
                                            $(':checkbox#TeacherPortalFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').attr('value', '0');
                                            $(':checkbox#CheckAllFlag').removeAttr('checked');
                                        }
                                    });


                                    function allcheckBoxCheckValidate() {
                                        if ($(':checkbox#AdminStudentRegistrationFormFlag').is(':checked') && $(':checkbox#OnlineAdmissionFormFlag').is(':checked') && $(':checkbox#ParentPortalFlag').is(':checked')
                                            && $(':checkbox#StudentProfileFlag').is(':checked') && $(':checkbox#StudentProfilePDFFlag').is(':checked') && $(':checkbox#StudentPortalFlag').is(':checked')
                                            && $(':checkbox#TeacherPortalFlag').is(':checked')) {
                                            $(':checkbox#CheckAllFlag').attr('value', '1');
                                            $(':checkbox#CheckAllFlag').attr('checked', 'true');
                                        }
                                    };

</script>
